.reactMarkdown {
  max-width: 100ch;
}

.reactMarkdown img {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
}

.reactMarkdown p:has(> img) {
  text-align: center;
}

.reactMarkdown h1 {
  text-align: center;
}

.container {
  color: var(--brown);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 40px;
}