:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #5f3323;
  background-color: #fff6de;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #fff6de;
  --primary-contrast: rgb(83, 34, 12);
  --yellow: #FCAF3C;
  --dark-yellow: #E59400;
  --white: #fff6de;
  --brown: rgb(83, 34, 12);
  --light-brown: rgb(157, 82, 43);
  --dark-brown: rgb(95, 51, 35);
  --milky: rgb(200, 118, 36);
  --red: rgb(172, 49, 34);
  --green: #8cc640;
  --cream: #ffffff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #5f3323;
    background-color: #fff6de;

    --primary: rgb(83, 34, 12);
    --primary-contrast: #fff6de;
  }

  a:hover {
    color: #5f3323;
  }

  button {
    background-color: #f9f9f9;
  }
}